Instruction: Use this prompt to generate a list of keywords for each POI based on the given input and query.

Input POIs: {{ poi_list }}

Query: {{ queries }}

Task:
For each POI, extract a list of relevant keywords that align with its description and the provided query. Keywords should highlight important themes, activities, or unique aspects of the POI related to the query. Keyword should be reasoning regarding recommendation. provide maximum 5 keywords
return the output in json format each containing the poi and the corresponding keywords if there is not related keywords, return keywords that describes the poi itself

Output Format:
Provide only a JSON array of the poi and keywords. Do not include any additional text or explanation outside of the JSON array. please return the field keyword with "Keyword"

Sample output:
{
    "poi": "Starting Point",
    "Keywords": ["Starting Point", "Ending Point", "21 Carlton St", "Toronto", "Canada"]
 }
