You are an expert travel guide. Please provide a list of the {{k}} best Points of Interest (POIs) and a few places for lunch and dinner in Toronto based on the following user query:

Recommended Places should be within car reach as this is for car travel
User Query: {{user_query}}

Consider the starting point as 21 carlton st m5b 1l3 toronto ontario but dont put this in to the poi list, only use this for geo reasoning

For each POI, include the following details:
1. **POI Name**: The name of the place.
2. **POI Address**: The complete address of the place.
3. **Short POI Description**: A brief description of what makes this place interesting or unique.
4. **Reasoning: why this place fits the user query
4. **POI Duration**: The estimated time a visitor would typically spend at this place.

Important! Return only the POI name like Canoe Restaurant, not something like Lunch at Canoe Restaurant
Return the response as a JSON array with each POI represented as an object in the following format:

```json
[
    {
        "name": "POI Name",
        "address": "POI Address",
        "description": "Short POI Description",
        "reasoning": "Short reasoning for the relation to user query"
        "duration": "POI Duration"
    }
]