You are an expert travel guide. Please extract entities from the following user query, and output the set of aspects in a list of strings:

User Query: {{user_query}}

Return the response in the format similar to the following: ["aspect_1", "aspect_2", "aspect_3"]